/*!
 * solarized.css | implementation by @ryanve of @ethanschoonover's "Solarized" color scheme
 * @version  2012-09-18
 * @link     css3base.com (CC0 license)
 * @link     ethanschoonover.com/solarized (MIT license)
 * @example  <html class="solarized">
 * @example  <html class="solarized dark">
 */

/* selected text ===== these combos seem to work well for solarized ======= */
.solarized ::-moz-selection { background:#95cb16;color:#073642;text-shadow:none }
     .solarized ::selection { background:#95cb16;color:#073642;text-shadow:none }
.solarized.dark ::-moz-selection { background:#073642;color:inherit }
     .solarized.dark ::selection { background:#95cb16;color:#002b36 }
 
/* pre styles from normalize.css plus .pre helper class =================== */
.pre, pre { font-family:monospace,serif; _font-family:'courier new',monospace;
  font-size:1em; white-space:pre; white-space:pre-wrap; word-wrap:break-word }

/* Default Colors ========================================================= */
/* Make `.solarized .solarized` light for proper inversing. */
.solarized,.solarized .solarized { color:#839496;background:#fdf6e3 } /* base0 /base3  */
.solarized.dark { color:#657b83;background:#002b36 } /* base00/base03 */ 

/* No italics for these. ================================================== */
.solarized pre em, .pre em, pre.solarized em, .solarized code em, 
.solarized pre var, .pre var, pre.solarized var, .solarized code var, 
.solarized mark { font-style:normal }

/* Emphasized/un-emphasized Colors (base1/base01) ========================= */
.solarized small,.solarized .solarized small, 
.solarized.dark em, .solarized.dark strong { color:#93a1a1 } /* base1  */  
.solarized em, .solarized .solarized em, .solarized strong, 
.solarized .solarized strong, .solarized.dark small { color:#586e75 } /* base01 */  
/* IE7- does not support inherit so use IE6/7 star hack for 100% instead */
.solarized pre small, .pre small, pre.solarized small, .solarized code small { font-size:inherit;*font-size:100% }

/* Background Highlights (base2/base02) =================================== */
.solarized mark { color:#657b83 }/* base00 for IE7- */
.solarized mark { color:inherit }/* modern browsers */
.solarized mark, .solarized .solarized mark { background:#eee8d5 } /* base2  */
.solarized.dark mark { background:#073642 } /* base02 */
.solarized.dark mark ::-moz-selection { background:#002b36 } /* base03 */

/* Link Colors ============================================================ */
.solarized a { color:#268bd2 }
.solarized a:hover { color:#cb4b16 }

/* Accent Colors (same for light and dark) ================================ */
.solarized .yellow  { color:#b58900!important } /* approx #b80 */
.solarized .orange { color:#cb4b16!important } /* approx #c41 */
.solarized .red { color:#dc322f!important } /* approx #d32 */
.solarized .magenta { color:#d33682!important } /* approx #d38 */
.solarized .violet { color:#6c71c4!important } /* approx #67c */
.solarized .blue { color:#268bd2!important } /* approx #28d */
.solarized .cyan { color:#2aa198!important } /* approx #2a9 */
.solarized .green { color:#859900!important } /* approx #890 */

/* Unofficial extra accents based on the same wheel axis ================= */
.solarized .sand  { color:#d38736!important } /* approx #d83 */
.solarized .lime  { color:#95cb16!important } /* approx #9c1 */
.solarized .crimson { color:#991400!important } /* approx #910 */

/* Code helper classes =================================================== */
.solarized .keyword { font-weight:bold;color:#d33682 }
.solarized .boolean { font-weight:bold;color:#b58900 }
.solarized .number  { color:#dc322f }
.solarized .string  { color:#2aa198 }
.solarized .regex   { color:#6c71c4 }
