/*! hybrid print styles adapted from h5bp.com */
@media print {
  *{background:transparent!important;color:black!important;box-shadow:none!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important}
  a[href]:after{content:" (" attr(href) ")";font-weight:normal}
  header a[href]:after,footer a[href]:after,nav a[href]:after,.h a[href]:after,.ir a:after,
  a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
  thead{display:table-header-group}tr,img,pre,blockquote{page-break-inside:avoid}img{max-width:100% !important}
  @page{margin:0.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}
}